<div class="animated-gradient-background flex flex-col justify-center xl:min-h-screen">
    <div class="flex flex-col items-center">
        <div class="w-full px-10 py-10 bg-white xl:rounded-lg xl:my-5 xl:w-1/2">
            <h1 class="text-4xl font-medium lg:pt-12 max-sm:pt-10">Вітаємо!</h1>
            <div class="container pt-1">
                <p class="text-[#6C6C6C] text-md font-normal inline">Немає акаунту? </p>
                <p class="text-[#6C6C6C] text-md font-normal inline hover:underline cursor-pointer" routerLink="/register">Зареєструйтесь</p>
            </div>
            <form #form="ngForm">
                <div class="mt-5">
                    <label class="text-lg" for="email">Email <span class="text-red-600 font-bold">*</span></label>
                    <br>
                    <input 
                        [(ngModel)]="this.email" 
                        #email="ngModel" 
                        required 
                        maxlength="254" 
                        email 
                        name="email" 
                        type="email" 
                        class="border-[1px] px-3 py-2 mt-2 w-full" 
                        placeholder="Введіть email"
                        [ngClass]="email.invalid && email.touched ? 'border-red-500' : ''">

                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <p class="text-red-500 text-sm mt-1" *ngIf="email.hasError('required')">
                            Email обов'язковий.
                        </p>
                        <p class="text-red-500 text-sm mt-1" *ngIf="email.hasError('email')">
                            Email повинен бути в правильному форматі.
                        </p>
                        <p class="text-red-500 text-sm mt-1" *ngIf="email.hasError('maxlength')">
                            Довжина email не повинна перевищувати 254 символів.
                        </p>
                    </div>
                </div>
                
                <div class="mt-5">
                    <label class="text-lg" for="password">Пароль <span class="text-red-600 font-bold">*</span></label>
                    <br>
                    <div class="flex items-center border-[1px] border-[#CACACA] mt-2 h-11 w-full" [ngClass]="password.invalid && password.touched ? 'border-red-500' : ''">
                        <input 
                            [(ngModel)]="this.password" 
                            [pattern]="passwordPattern" 
                            #password="ngModel" 
                            required 
                            minlength="8" 
                            maxlength="30" 
                            [type]="passwordVisible ? 'text' : 'password'" 
                            name="password" 
                            type="password" 
                            class="px-3 h-full w-full" 
                            placeholder="Введіть пароль">
                        <span 
                            (click)="togglePasswordVisibility()" 
                            class="cursor-pointer ml-2 mt-1 mr-3"
                        >
                            <span class="material-icons">
                                {{ passwordVisible ? 'visibility_off' : 'visibility' }}
                            </span>
                        </span>
                    </div>

                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <p class="text-red-500 text-sm mt-1" *ngIf="password.hasError('required')">
                            Пароль обов'язковий.
                        </p>
                        <p class="text-red-500 text-sm mt-1" *ngIf="password.hasError('minlength')">
                            Довжина пароля повинна бути щонайменше 8 символів.
                        </p>
                        <p class="text-red-500 text-sm mt-1" *ngIf="password.hasError('maxlength')">
                            Довжина пароля не повинна перевищувати 30 символів.
                        </p>
                        <p class="text-red-500 text-sm mt-1" *ngIf="password.hasError('pattern')">
                            Пароль повинен містити хоча б одну велику літеру, одну цифру і один спеціальний символ.
                        </p>
                    </div>
                </div>

                <app-form-button 
                    [text]="'Уввійти'"
                    [disabled]="!form.valid"></app-form-button>
            </form>

            <div class="flex items-center my-5">
                <hr class="flex-1 border-t-[1px] border-gray-300">
                <span class="mx-4 text-gray-600">Або</span>
                <hr class="flex-1 border-t-[1px] border-gray-300">
            </div>

            <form >
                <app-google-sign-button></app-google-sign-button>
            </form>
        </div>
    </div>
</div>